#body{
    background: #bbaac4;
    padding: 5px;
}
#first{
    background-color: #788f8f;
    padding: 2px;
    text-align: center;
    text-shadow: 2px;
    font-style: italic;
    font-display: 2px;
    font-size: large;
}
#second{
    background-color: #788f8f;
    padding: 2px;
    text-align: center;
    text-shadow: 2px;
    font-style: italic;
    font-display: 2px;
    font-size: large;
}
#first{
    background-color: #788f8f;
    padding: 2px;
    text-align: center;
    text-shadow: 2px;
    font-style: italic;
    font-display: 2px;
    font-size: large;
}
#third{
    background-color: #788f8f;
    padding: 2px;
    text-align: center;
    text-shadow: 2px;
    font-style: italic;
    font-display: 2px;
    font-size: large;
}
#fourth{
    background-color: #788f8f;
    padding: 2px;
    text-align: center;
    text-shadow: 2px;
    font-style: italic;
    font-display: 2px;
    font-size: large;
}
#fifth{
    background-color: #788f8f;
    padding: 2px;
    text-align: center;
    text-shadow: 2px;
    font-style: italic;
    font-display: 2px;
    font-size: large;
}
.Main{
    background-color: #80a8a8;
    font-size: larger;
    font-style: oblique;
}